.background-darkblue {
    background-color: $darkblue !important;
    color: white;

    .checkmark {
        border-color: white !important;
    }
}

.add-task-content {
    margin-left: 200px;
    padding-left: 56px;
    padding-top: 56px;
    padding-right: 56px;

    .add-task-header {
        display: flex;

        h1 {
            font-size: 48px;
            margin: unset;
        }
    }
}

.add-task-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;

    .add-task-inputs-left {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-right: 5%;
        border-right: 1px solid #D1D1D1;
    }

    .add-task-inputs-right {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-left: 5%;
    }

    .add-task-inputs-fields {
        display: flex;
    }

    .add-task-inputs-submit {
        display: flex;
        justify-content: flex-end;
        margin-top: 48px;
        height: 48px;

        .submit-buttons {
            display: flex;
            gap: 16px;

            img {
                width: 20px;
                height: 20px;
            }

            button:disabled {
                background-color: $gray;
            }
        }

        button:first-child {
            @include button-White;
            height: inherit;
            padding: 12px;
            display: flex;
            align-items: center;
        }

        button:nth-child(2) {
            @include button-darkblue;
            height: inherit;
            padding: 12px;
            display: flex;
            align-items: center;

            img {
                filter: invert(100%) sepia(98%) saturate(0%) hue-rotate(290deg) brightness(104%) contrast(104%);
            }
        }

        input {
            font-size: large;
            font-weight: bold;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }
    }
}

.task-title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include reqInputText();

    input {
        @include inputTask();
    }
}

.task-description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include reqInputText();

    #taskDescription {
        resize: none;
        @include inputTask();
    }
}

.task-due-date {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include reqInputText();

    input {
        @include inputTask();
    }
}

.drop_down {
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    margin-top: 4px;
    padding: 8px 21px 8px 21px;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }

    input {
        border: none;
        width: 95%;
        height: 22px;

        &:focus-visible {
            outline: none;
        }
    }
}

.down_image {
    position: absolute;
    right: 16px;
    top: 13px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    padding: 2px;

    &:hover {
        background-color: #D1D1D1;
    }
}

.task-category {
    display: flex;
    flex-direction: column;
    position: relative;
    @include reqInputText();

    .drop_down_open {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .category-box {
        display: flex;
        align-items: center;

        .category-color {
            width: 16px;
            height: 16px;
            border-radius: 100%;
            border: 1px solid white;
            margin-left: 10px;
        }
    }

    .render_categories_box {
        background-color: white;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;
        max-height: 155px;
        margin-bottom: 34px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-right: 1px solid #D1D1D1;
        border-left: 1px solid #D1D1D1;
        position: absolute;
        top: 65px;
        width: -webkit-fill-available;
        z-index: 10;

        .render_categories {
            position: relative;
            border-top: 1px solid #D1D1D1;
            padding: 8px 21px 8px 21px;
            display: flex;
            align-items: center;
            animation: ease-in-out;

            &:hover {
                cursor: pointer;
                background-color: #AFAFAF;
                transition: 200ms;
            }
        }

        .render_contacts {
            position: relative;
            border-top: 1px solid #D1D1D1;
            padding: 8px 21px 8px 21px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            animation: ease-in-out;

            &:hover {
                cursor: pointer;
                background-color: #ececec;
                transition: 200ms;
            }
        }
    }

    .checkbox-container {
        position: relative;
        display: block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked~.checkmark:after {
                display: block;
            }
        }

        .checkmark {
            position: absolute;
            right: 0;
            top: -8px;
            height: 16px;
            width: 16px;
            border: 1px solid $darkblue;
            border-radius: 4px;

            &:after {
                width: 16px;
                height: 16px;
                clip-path: polygon(13% 53%, 50% 90%, 90% 25%, 85% 10%, 50% 71%, 24% 48%);
                background-color: white;
            }
        }
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .contact-box {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .category-name-box {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 4px;
        gap: 4px;

        input {
            @include inputTask();
        }

        .confirm-category {
            display: flex;
            position: absolute;
            right: 8px;
            top: 4.5px;

            div {
                height: 24px;
                width: 24px;
                margin: 2px;

                img {
                    height: inherit;
                    width: inherit;
                    cursor: pointer;
                }
            }

            .confirm-border {
                width: 0px;
                height: inherit;
                border-left: 1px solid $lightgray;
            }
        }
    }

    .color-points {
        display: flex;
        gap: 16px;
        margin-top: 16px;
        margin-left: 16px;

        .color-point {
            width: 16px;
            height: 16px;
            border-radius: 100%;
            border: 2px solid white;
            cursor: pointer;

            &:hover {
                border-color: #000000;
            }
        }

        .selected {
            box-shadow: 0px 4px 3px 1px rgba($color: #000000, $alpha: 0.3);
        }
    }

    .initialsAssignedContacts {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        transform: translateY(8px);
    }
}

.contact-initials {
    border: 1px solid white;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.initials_box {
    display: flex;
    gap: 8px;
}

.add-subtask-img {
    position: absolute;
    right: 16px;
    top: 37px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    padding: 2px;
    cursor: pointer;

    &:hover {
        background-color: #D1D1D1;
    }
}

.task-prio {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include reqInputText();

    input {
        @include inputTask();
    }

    .prio {
        border-radius: 10px;
        border: 1px solid #F6F7F8;
        display: flex;
        justify-content: space-between;
        gap: 4px;
    }
}

.prio_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 8px;
    width: 88px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    transition: 200ms;

    &:hover {
        transition: 200ms;
        cursor: pointer;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.41)
    }
}

.prio_button img {
    width: 20px;
    height: 12.5px;
}

.prio_button_urgent {
    color: white;
    background-color: #FF3D00;
}

.prio_button_urgent img {
    filter: brightness(0) invert(1);
}

.prio_button_medium {
    color: white;
    background-color: #FFA800;
}

.prio_button_medium img {
    filter: brightness(0) invert(1);
}

.prio_button_low {
    color: white;
    background-color: #7AE229;
}

.prio_button_low img {
    filter: brightness(0) invert(1);
}

.task-subtask {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    @include reqInputText();

    input {
        @include inputTask();
    }

    .subtasks {
        margin: 0;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .subtask {
        position: relative;
        padding: 2px;
        border-radius: 4px;
        display: flex;
        align-items: center;

        &:hover {
            background-color: #ececec;
        }

        span {
            padding-left: 12px;
            padding-right: 4px;
            font-size: 4px;
        }
    }

    .change-subtask {
        position: absolute;
        right: 0;
        top: 4px;
        display: flex;
        height: 12px;
        padding-right: 8px;

        img {
            height: 12px;
            width: 12px;
            cursor: pointer;
        }
    }

    .edit-subtask {
        padding-right: 4px;
        border-right: 1px solid #D1D1D1;
    }

    .delete-subtask {
        padding-left: 4px;
    }

    .edit-subtask-input {
        border-radius: unset;
        padding: 4px 10px;
        border: unset;
        border-bottom: 1px solid $lightblue;
        width: 100%;

        &:focus-visible {
            outline: none;
        }
    }
}

// ------------- Animation Classes ------------------
.scale-up-ver-top {
    -webkit-animation: scale-up-ver-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-ver-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-down-ver-top {
    -webkit-animation: scale-down-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-down-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-22 18:2:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.01);
        transform: scaleY(0.01);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.01);
        transform: scaleY(0.01);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

/**
 * ----------------------------------------
 * animation scale-down-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-ver-top {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(0.01);
        transform: scaleY(0.01);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-down-ver-top {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(0.01);
        transform: scaleY(0.01);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}


// responsive
// @media (max-width: 1000px) {
//     // .add-task-content {
//     //     margin: 0 0 0 0;
//     //     padding: 32px;
//     // }

//     .add-task-inputs {
//         margin: 0;
//     }

//     .add-task-inputs-submit {
//         margin-bottom: 75px;
//     }
// }

@media (max-width: 768px) {
    .add-task-content {
        margin: 0 0 0 0;
        padding: 32px;
    }

    .add-task-inputs {
        margin: 0;
    }

    .add-task-inputs-submit {
        margin-bottom: 75px;
    }
}