.add-task-content {
    margin-left: 200px;
    padding-left: 56px;
    padding-top: 56px;
    padding-right: 56px;

    .add-task-header {
        display: flex;

        h1 {
            font-size: 48px;
            margin: unset;
        }
    }

    .add-task-inputs {
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
        // width: 100%;

        .add-task-inputs-left {
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}

.task-title {
    display: flex;
    flex-direction: column;
    // width: 45%;
    gap: 4px;
    @include reqInputText();

    #taskTitle {
        @include inputTask();
    }
}

.task-description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include reqInputText();

    #taskDescription {
        resize: none;
        @include inputTask();
    }
}

.task-category {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include reqInputText();

    #taskCategory {
        @include inputTask();
    }
}