.legal-notice-content {
    margin-left: 260px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: relative;
    padding-bottom: 60px;
    padding-right: 32px;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 7px;
        background: #A8A8A8;
    }
}

.arrow-back {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    top: 120px;

    .arrow-back-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            background-color: $lightgray;
        }
    }

    img {
        filter: invert(77%) sepia(50%) saturate(5605%) hue-rotate(165deg) brightness(95%) contrast(85%);
    }
}

@media (max-width: 600px) {
    .legal-notice-content {
        margin-left: 32px !important;
        margin-right: 16px;
        padding-bottom: 75px;
    }
}