@import './predefinedStyle';
@import './fonts';
@import './login';
@import './legal_notice';
@import './contacts';
@import './board';
@import './summary';
@import './addTask';
@import './desktop_template';



body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background-color: $pagebackground;
}

//Global styles
