@import './predefinedStyle';
@import './fonts';
@import './login';
@import './legal_notice';
@import './contacts';
@import './board';
@import './summary';
@import './addTask';
@import './desktop_template';



body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background-color: $pagebackground;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 7px;
        background: #A8A8A8;
    }
}